/*Limpando formatações padrão*/

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-size: 1em;
    font-family:sans-serif;
    height: 100vh;
    width: 100vw;
  
    background: #222;
   
}
header{
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #4F4F4F;
   
}

.logo{
    width: 50px;
    height: 50px;
    text-align: center;
    background-image: url("img/logo.png")center center/125px no-repeat;
   
}
.logo a {
    color: #fff;
    text-decoration: none;
}
.hamburguer {
    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 5px;
    border:0;

    position: relative;
    cursor: pointer;
    display: none;
}

.hamburguer:after {
    content: "";

    position: absolute;
    top: 35%;
    left:15%;

    width: 70%;
    height: 5%;
    border-radius: 5px;

    background-color: #fff;



}

.hamburguer:before {
    content:"";

    position: absolute;
    top: 55%;
    left: 15%;

    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color:  #fff;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}

li{
    margin-left: 10px;
    
}
li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

a:hover{
    color: #00BFFF;
}




#area-principal{
   
    width: 100%;
    height: 800px;
    text-align:center;
    position:relative; 
    top: 100px;
    margin-top: 50px;
   
    
}

h3{
    font-size: 3.5em;
    color: #FFD700;
    font-family: sans-serif;
    text-align: center;
    width:100%;
    position:relative;
    line-height: 100px;
    padding: 5px;
    
}

p{
    color: #fff;
    
    margin-top: 5%;
    

}

/*mobile*/

@media screen and (max-width:980px){
    .hamburguer{
        display: block;
        z-index: 999;
    }

    .menu{
        position: fixed;
        top:0;
        right: -100%;
        height: 100vh;
        background-color: #222;
        margin: 0;
        flex-direction: column;
        padding: 100px 20px;
        width: 100%;
        max-width: 250px;
        transition: 0.5s ease;
    }

    .menu.active{
        right: 0;
    }
}

